<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- validator -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
    <!-- 数据源配置 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://202.120.40.109:23359/bookstore"></property>
        <property name="user" value="root"></property>
        <property name="password" value="888888"></property>
        <property name="initialPoolSize" value="3"></property>
        <property name="maxPoolSize" value="10"></property>
        <property name="maxStatements" value="100"></property>
        <property name="acquireIncrement" value="2"></property>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!-- 注入连接池对象 -->
        <property name="dataSource" ref="dataSource"></property>

        <!-- hibernate常用配置 -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

        <!-- hibernate映射配置
        <property name="mappingLocations">
            <list>
                <value>classpath:cn/itcast/entity/*.hbm.xml</value>
            </list>
        </property>
        -->
        <property name="mappingDirectoryLocations">
            <list>
                <value>/WEB-INF/</value>
            </list>
        </property>
    </bean>

    <!-- dao 实例 -->
    <bean id="deptDao" class="xyz.veiasai.Dao.DeptDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- Service -->
    <bean id="deptDaoService" class="xyz.veiasai.service.DeptDaoService">
        <property name="deptDao" ref="deptDao"></property>
    </bean>
    <!-- ###########Spring与Hibernate整合  end########### -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- 注册通知,是对 Service 层的方法起作用 -->
    <tx:advice transaction-manager="transactionManager" id="txadvice">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="modify*" propagation="REQUIRED"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <!-- 注册切面 -->
    <aop:config>
        <!-- Service 层 -->
        <aop:pointcut expression="execution(* *..service.*.*(..))"
                      id="txPoint"/>
        <aop:advisor advice-ref="txadvice" pointcut-ref="txPoint"/>
    </aop:config>
    <!-- 配置 HibernateTemplate -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- struts2 -->
    <bean name="LoginAction" class="xyz.veiasai.action.LoginAction">
    </bean>
    <!-- service 实例 -->
    <bean name="registerAction" class="xyz.veiasai.action.RegisterAction">
        <property name="deptDaoService" ref="deptDaoService"></property>
    </bean>
</beans>
